.introduçao-bg{
  background: var(--cor-12) url(/img/dec/bottom-left.svg) no-repeat
  bottom 85px left 20px;
}
.introduçao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.introduçao-conteudo{
  align-self: end;
  padding-bottom: 80px;
}
.introduçao img{
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.introduçao h1{
  margin-bottom: 32px;
}
.introduçao p{
  margin-bottom: 20px;
}
@media(max-width: 1200px){
  .introduçao h1{
    font-size: 48px;
  }
  .introduçao p{
    font-size: 18px;
  }
}
@media(max-width: 800px){
  .introduçao-bg{
    background:var(--cor-11);
    padding-top: 40px;
  }
  .introduçao{
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introduçao h1{
    font-size: 32px;
     margin-bottom: 16px;
  }
  .introduçao-conteudo{
    padding-bottom: 0px;  
  }
  .introduçao img{
    height: 300px;
    width: 100%;
  }
}